WIZLO_BASE_URL=https://api-uat.wizlo.com
WIZLO_CLIENT_ID=your_client_id
WIZLO_CLIENT_SECRET=your_client_secret
WEBHOOK_SECRET=optional_signing_secret
WEBHOOK_SIGNING_HEADER=x-webhook-signature
PORT=3046
